<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/weather.png">
  
  <title>About</title>
</head>
<body>
<div class="main-content">
  {{>header}}

  <h1>{{title}}</h1>
  <p>
    This site was created by Max. It uses data from mapbox and darsky.net, node.js
  </p>
  <img src="/img/1.png" alt="img">
  <p>{{name}}</p>
</div>

  {{>footer}}
</body>
</html>